header {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.2 linear;
}
.fx-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  justify-content: flex-end;
}
.fx-logo {
  flex-grow: 1;
  img {
    width: 80px;
    height: 80px;
    margin-left: 100px;
    transition: all 0.2s linear;
  }
}
.fx-menu {
  > * {
    display: inline-block;
  }
}
.menu {
  display: inline-block;
  list-style: none;
  li {
    display: inline-block;
    margin: 0 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    a {
      text-decoration: none;
      color: var(--font-color);
    }
  }
}

.button-box {
  margin: 0 50px;
  button {
    box-sizing: border-box;
    min-height: 40px;
    min-width: 120px;
    border-radius: 24px;
    color: var(--purple);
    font-weight: 500;
    font-family: "Montserrat-Medium";
    font-size: 0.875rem;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    &.outlined {
      border: 2px solid var(--purple);
      background-color: transparent;
    }
    &.filled {
      background: linear-gradient(90deg, #9f62c9 0, #663399 100%);
      border: none;
      color: #fff;
    }
    &:hover,
    :focus {
      background: var(--purple-dark);
      color: #fff;
    }
  }
}
.sticky {
  background-color: #fff;
  box-shadow: 0px 2px 10px -1px #beb7b749;
  .fx-logo {
    img {
      width: 60px;
      height: 60px;
    }
  }
}
