<header [class.fixed]="navFixed">
  <nav class="fx-container">
    <div class="fx-logo"><img src="assets/images/logo.png" alt="logo" class="logo"></div>
    <div class="fx-menu">
      <ul class="menu">
        <li><a href="">Products</a></li>
        <li><a href="">Solutions</a></li>
        <li><a href="">Pricing</a></li>
      </ul>
      <div class="button-box">
        <button type="button" class="outlined">Login</button>
        <button type="button" class="filled">Get Started</button>
      </div>
    </div>
  </nav>
</header>
