.feature-box {
  position: relative;
  padding: 20px 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feature-bg {
  width: 100%;
  position: absolute;
  bottom: -3%;
  right: 0;
  left: 0;
  z-index: -999;
}

.right-container {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
}

.right-header {
  font-family: "Montserrat-Medium";
  font-size: 40px;
  font-weight: 100;
}

.feature-right-descrition {
  width: 80%;
  font-family: "Montserrat";
  color: #777777;
  font-size: 18px;
  font-weight: 100;
}
.button-box {
  margin-top: 70px;
}
